In [1]:
import pandas as pd
import numpy as np
import csv
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
from sklearn import tree
from sklearn import datasets
battles = pd.read_csv("battles.csv")
deaths = pd.read_csv("character-deaths.csv")
predictions = pd.read_csv("character-predictions.csv")
deaths["Death Year"] = deaths["Death Year"].fillna(0)
deaths.loc[deaths["Death Year"] != 0, "Death Year"] = 1

got=deaths.iloc[:,[8]]
dwd=deaths.iloc[:,[12]]

deaths.head(5)

,Name,Allegiances,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
0,Addam Marbrand,Lannister,0.0,NaN,NaN,56.0,1,1,1,1,1,1,0
1,Aegon Frey (Jinglebell),None,1.0,3.0,51.0,49.0,1,1,0,0,1,0,0
2,Aegon Targaryen,House Targaryen,0.0,NaN,NaN,5.0,1,1,0,0,0,0,1
3,Adrack Humble,House Greyjoy,1.0,5.0,20.0,20.0,1,1,0,0,0,0,1
4,Aemon Costayne,Lannister,0.0,NaN,NaN,NaN,1,1,0,0,1,0,0

In [2]:
alle=pd.get_dummies(deaths["Allegiances"])
alle.head(5)
df = pd.concat( [alle,got,dwd], axis=1 )
df.head(5)

,Arryn,Baratheon,Greyjoy,House Arryn,House Baratheon,House Greyjoy,House Lannister,House Martell,House Stark,House Targaryen,...,Martell,Night's Watch,None,Stark,Targaryen,Tully,Tyrell,Wildling,GoT,DwD
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
y=deaths.iloc[:,[2]]
X_train, X_test, y_train,y_test = train_test_split(df, y, test_size=0.25,random_state = 42)
y.head(5)

   Death Year
0         0.0
1         1.0
2         0.0
3         1.0
4         0.0

In [4]:
clf = tree.DecisionTreeClassifier(max_depth = 20)
clf = clf.fit(X_train, y_train)
y_test_predicted = clf.predict(X_test)

In [5]:
from sklearn.metrics import accuracy_score,precision_score, recall_score
y_pred = y_test_predicted
y_true = y_test
accuracy_score(y_true, y_pred)

0.782608695652174

In [6]:
from sklearn.metrics import confusion_matrix
y_true = y_test
y_pred = y_test_predicted
confusion_matrix(y_true, y_pred,labels=[1, 0])

array([[ 31,  31],
       [ 19, 149]], dtype=int64)

In [7]:
precision_score(y_true, y_pred)

0.62

In [8]:
recall_score(y_true, y_pred)

0.5

In [9]:
import pydotplus
dot_data = tree.export_graphviz(clf, out_file=None)
graph = pydotplus.graph_from_dot_data(dot_data)
graph.write_pdf("tree.pdf")

True